RewriteEngine on
AddDefaultCharset utf-8
php_flag display_errors on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^id([0-9]+)$ ?id=$1
RewriteRule ^c([0-9]+)$ ?c=$1
RewriteRule ^([a-z]+)$ ?p=$1

ErrorDocument 404 /index.php